/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  background-color: #FFF;
  text-align: center;
}

/* Hyperlinks */

a {
  color: #0a0;
  text-decoration: none;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
}

a:hover {
  color: #000;
}

/* Embeds */

.video {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.video > iframe {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

/* Rouge */

.highlight {
  margin: 2em 0 2.8em;
}

.highlight table, tbody {
  display: block;
  width: 100%
}

.highlight td {
  border: 1px solid #dee;
}

.highlight tr {
  display: flex;
  width: 100%;
}

.highlight .code {
  flex: 1 0 0px;
  margin-left: -1px;
  display: block;
  max-width: calc(100% - 2em);
}

pre {
  padding: 10px;
  margin: 0;
  line-height: 23px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight .gl { 
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #ccc;
  user-select: none;
  padding: 0 5px;
  overflow: hidden;
}

p code, li code, td code {
  background: #fafafa;
  padding: 3px 6px;
  border-radius: 8px;
  border: 1px dotted #ccc;
  margin: 0 4px;
  font-size: 90%;
  word-wrap: break-word;
}

a code {
  color: inherit;
  text-decoration: underline;
  margin: 0 -1px;
  padding: 3px 10px;
}

/* MathJax */

code.mathjax .MathJax_Display {
  text-align: left !important;
}

/* Site */

.site {
  text-align: left;
  width: 90%;
  max-width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header svg {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
}

.site .header a {
  fill: #000;
}

.site .header a:hover {
  fill: #0a0;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #000;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
  margin-right: 0.5em;
}

/* Home */

.home {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

.home .intro .good {
  color: #0a0;
}

.home .intro .bad {
  color: #a00;
}

.home .intro {
  margin-bottom: 1.5em;
  font-size: 1.25em;
  line-height: 1.25em;
  text-align: left;
}

.home .intro p {
  margin: 0.5em 0;
}

.home hr {
  display: block;
  max-width: 30em;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
}

.home ul.posts {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 1.5em;
  list-style-type: none;
}

.home ul.posts li {
  line-height: 1.25em;
  margin-bottom: 1em;
}

.home ul.posts span.date {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
}

@media only screen and (max-width: 38em) {
    body {
      font-size: 16px;
    }
    .home ul.posts span.date {
        display: block;
    }
    .home ul.posts span.dash {
        display: none;
    }
}

/* Posts */

h1.title, .post h1, h2, h3 {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1.2em;
}

.post p {
  margin: 1em 0;
}

.post img {
  max-height: 100%;
  max-width: 100%;
}

.post ul, .post ol {
  margin-left: 1.35em;
}
