<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
{% if page.id == 'index' %}
  <head prefix="profile: http://ogp.me/ns/profile#">
{% else %}
  <head>
{% endif %}
    <title>{{ page.title }}</title>
    <link href="//fonts.googleapis.com/css?family=Lora:400|Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@conradev"/>
    <meta name="twitter:creator" content="@conradev"/>
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta property="og:title" content="{{ page.title }}"/>
    {% else %}
    <meta name="twitter:title" content="{{ site.name }}"/>
    <meta property="og:title" content="{{ site.name }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.name }}"/>
{% if page.id == 'index' %}
    <meta property="og:type" content="profile"/>
    <meta property="profile:first_name" content="Conrad"/>
    <meta property="profile:last_name" content="Kramer"/>
    <meta property="profile:username" content="conradev"/>
{% endif %}
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    <script type="text/x-mathjax-config">
      MathJax.Ajax.config.path["Contrib"] = "//cdn.mathjax.org/mathjax/contrib";
      MathJax.Hub.Config({
        extensions: ["tex2jax.js", "[Contrib]/siunitx/siunitx.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {},
        TeX: {
          extensions: ["mhchem.js"]
        }
      });
      MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i = 0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' mathjax';
        }
      });
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43172430-1', 'conradkramer.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
